body {
  font-family: Arial;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.sub {
  font-size: 14px;
  color: #666;
}

/* ÁREA */
.area {
  width: 260px;
  height: 260px;
  border: 2px dashed #ccc;
  margin: 20px auto;
  position: relative;
}

/* CÍRCULO */
.circulo {
  width: 120px;
  height: 120px;
  background: #1FB5B5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FEEDBACK */
.perfeito {
  box-shadow: 0 0 15px #00c853;
}

/* BOTÃO */
button {
  background: #1FB5B5;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 20px;
  font-size: 16px;
}
