body {
  font-family: Arial;
  text-align: center;
  margin: 0;
  padding-bottom: 80px;
}

/* LOGO */
.header {
  padding: 15px;
}

.logo {
  max-width: 150px;
}

/* ÁREA */
.area {
  width: 260px;
  height: 260px;
  margin: 20px auto;
  position: relative;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* CÍRCULO */
.circulo {
  width: 120px;
  height: 120px;
  background: #1FB5B5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BOTÃO */
button {
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: #1FB5B5;
  color: white;
  font-size: 16px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.4);
  align-items:center;
  justify-content:center;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 80%;
  max-width: 300px;
  animation: pop 0.3s ease;
}

@keyframes pop {
  from {transform: scale(0.7);}
  to {transform: scale(1);}
}

.cupom {
  background: #eee;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

/* RODAPÉ FIXO */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 10px;
  font-size: 12px;
  border-top: 1px solid #ddd;
}
